body{
    background: #01010f;
}

header{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-inline: auto;
    padding: 1rem clamp(1rem, 7vw, 3rem);
    background: var(--dark-navy);
    transition: ease-in-out .5s;
}

header.scrolledUp{
    transform: translateY(0);
    box-shadow: 0px 0px 8px var(--cyan);
}

header.scrolledDown{
    transform: translateY(-100%);
}

header .logo a{
    position: relative;
    z-index: 10;
    color: var(--cyan);
    font-family: var(--third-font);
}

header .nav-links{
    display: flex;
    align-items: center;
    list-style:decimal-leading-zero;
    gap: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--cyan);
}

header a{
    color: var(--white)
}
header a.resume{
    color: var(--white)
}
header a:hover{
    color: var(--cyan)
}

.content{
    min-height: 80vh;
}

.content section{
    width: min(85%, 55rem);
    margin-inline: auto;
    min-height: 100vh;
    padding: 2rem 0;
    font-family: var(--fourth-font);
    color: var(--white);
}

/* HOME SECTION */
.content section#home{
    width: min(85%, 65rem);
    display: flex;
    align-items: center;
}
.content section#home .introduction{
    display: grid;
    gap: 1.5rem;
}
.content section#home h2{
    font-size: clamp(14px, 5vw, 16px);
    color: var(--cyan);
    padding: 0;
}
.content section#home h1{
    font-size: clamp(35px, 6vw, 60px);
    padding: 0;
}
.content section#home p{
    width: min(100%, 35rem);
    line-height: 1.5rem;
    color: var(--light-gray);

}
.content section#home a{
    padding: 1rem 2rem;
}

/* ABOUT SECTION */
.content section#about{
    color: var(--white);
    display: block;
}
.content section h1{
    font-size: clamp(1rem, 4vw, 1.8rem);
    padding-bottom: 3rem;
}
.content section#about h1::before,
.content section#skills h1::before,
.content section#projects h1::before,
.content section#contact h1::before{
    counter-increment: section 1;
    content: "0" counter(section) ".";
    position: relative;
    z-index: 0;
    margin-right: 1.5vw;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--cyan);
}
.content section#about .cards{
    display: grid;
    grid-template-columns: 1fr .7fr;
    justify-content: center;
    gap: 2rem;
}
.content section#about .cards .card{
    /* border: 1PX SOLID red; */
}
.content section#about .cards .left{
    display: grid;
    gap: 1.5rem;
}
.content section#about .cards p, ul{
    line-height: 1.5rem;
}
.content section#about .cards ul{
    list-style: none;
    column-count: 2;
    padding-left: 1.5rem;
}
.content section#about .cards ul.skills li::before{
    content: "▹";
    position: absolute;
    color: var(--cyan);
    font-size: 1.5rem;
    line-height: 20px;
    margin-left: -28px;
}
.content section#about .cards .right{
    display: flex;
}
.content section#about .cards .right img{
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 0;
}

/* SKILLS SECTION */
.content section#skills h1::before{
    counter-increment: section 2;
}
.content section#skills .grid{
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    gap: 2vw;
    padding-top: 2rem;
}
.content section#skills .grid .box{
    /* border: 1px solid red; */
    background: var(--light-navy);
    border-radius: 10px;
    padding: 2rem 1rem;
}
.content section#skills .grid .box h2{
    color: var(--cyan);
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
    padding-bottom: 1rem;
}
.content section#skills .grid .box i{
    font-size: clamp(4rem, 1rem + 2vw, 6rem);
}


/* Projects */
.content section#projects h1::before{
    counter-increment: section 3;
}
.content section#projects .grid{
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    gap: 1vw;
    padding-top: 2rem;
}

.content section#projects .grid .box{
    border: 1px solid #ffff;
}

.content section#projects .grid .box .info label{
    font-weight: bold;
    color: var(--cyan);
}

.content section#projects .grid .box h3{
    position: absolute;
    text-shadow: 2px 2px var(--dark-navy);
}
.content section#projects .grid .box img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--light-navy);
}
.content section#projects .grid .box img:hover{
    transform: scale(1.1, 1.1);
}

/* CONTACT SECTION */
.content section#contact{
    min-height: 70vh;
}
.content section#contact h1::before{
    counter-increment: section 4;
}
.content section#contact .container{
    display: grid;
    gap: 1rem;
    text-align: center;
    padding-top: 3rem;
}
.content section#contact h2{
    font-size: clamp(1.5rem, 10vw, 3rem);
}
.content section#contact p{
    width: min(100%, 35rem);
    line-height: 1.5rem;
    color: var(--light-gray);
    margin-inline: auto;
}

.content section#contact .button{
    padding: 1rem;
    font-size: clamp(.5rem, 2vw + .5rem, 1rem);
    font-weight: 500;
    border-radius: 10px;
}

footer{
    color: var(--light-gray);
    text-align: center;
    padding: 1.5rem 0;
}

@media screen and (max-width: 768px) {
    header .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    header .hams{
        position: relative;
        z-index: 20;
        display: grid;
    }

    header .hams .burger::before{
        content: "";
        position: absolute;
        margin-top: -10px;
        right: 0;
        height: 3px;
        width: 30px;
        background: var(--white);
        transition: ease-in-out .5s;
    }

    header .hams .burger{
        height: 3px;
        width: 25px;
        background: var(--white);
        margin-top: 16px;
        transition: ease-in-out .5s;
    }

    header .hams .burger::after{
        content: "";
        position: absolute;
        margin-top: 10px;
        right: 0;
        height: 3px;
        width: 20px;
        background: var(--white);
        transition: ease-in-out .5s;
    }

    header nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: min(100%, 20rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--light-navy);
        transform: translateX(100%);
        transition: ease-in-out .5s;
    }

    header nav .nav-links{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    header nav .nav-links a{
        font-size: 20px;
    }

    header.active nav{
        transform: translateX(0);
    }

    header.active .hams .burger::before{
        transform: rotate(225deg);
        margin-top: 0;
    }

    header.active .hams .burger{
        background: none;
    }

    header.active .hams .burger::after{
        transform: rotate(-225deg);
        width: 30px;
        margin-top: 0;
    }

    .content section#about .cards{
        grid-template-columns: 1fr;
    }

    .content section#about .cards .right{
        justify-content: center;
    }
}

@media screen and (max-width:500px) {
    .content section#home{
        padding-top: 15vw;
    }
    .content section#about .cards .right img{
        width: 60vw;
        height: auto;
    }
}


@media screen and (max-width: 768px) and (max-height:380px) {
    header nav{
        width: 100%;
    }
    header nav .nav-links{
        display: flex;
    }
}

@media screen and (max-width: 420px) and (max-height:900px){
    .content section{
        min-height: 75vh;
    }
}
